<section id="fadeOut">
  <h2>Fade Out</h2>
    
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus ligula in massa faucibus ornare. 
    Vestibulum euismod molestie vulputate. Nam justo nisi, sollicitudin vel mattis quis, rhoncus vel ligula. 
    Donec vitae sapien id dolor vehicula tristique viverra vel tortor. Ut tempus sapien ut nisl ullamcorper 
    ut ullamcorper justo luctus. Quisque viverra felis et mi aliquet hendrerit. Nullam eget felis tortor. 
  </p>
    
  <div class="docs-example">
    
    @Ajax.ActionLink("Fade Out", "FadeOut", "Demo", null, new { @class="btn btn-primary" })
    <a class="btn demoResetButton">Reset</a>

    <div class="demoActionWrapper clearfix">
      <div id="fadeOutTarget">@Html.Partial("Box")@Html.Partial("Box")@Html.Partial("Box")</div>
    </div>

  </div>
  
  <pre class="prettyprint linenums">@RenderPage("ExampleCode_FadeOut.cshtml")</pre>

</section>