<section id="executePlugin">
  <h2>Execute jQuery Plugin</h2>
    
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus ligula in massa faucibus ornare. 
    Vestibulum euismod molestie vulputate. Nam justo nisi, sollicitudin vel mattis quis, rhoncus vel ligula. 
    Donec vitae sapien id dolor vehicula tristique viverra vel tortor. Ut tempus sapien ut nisl ullamcorper 
    ut ullamcorper justo luctus. Quisque viverra felis et mi aliquet hendrerit. Nullam eget felis tortor. 
  </p>
    
  <div class="docs-example">
    
    @Ajax.ActionLink("Execute Plugin", "ExecutePlugin", "Demo", null, new { @class="btn btn-primary" })
    
    <div id="executePluginModal" class="modal hide fade">
      <div class="modal-body">
        <strong>This modal was opened using a command from the server!</strong>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
  
  <pre class="prettyprint linenums">@RenderPage("ExampleCode_ExecutePlugin.cshtml")</pre>

</section>